@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes move {
  0% {
    background-color: transparent;
  }
  50% {
    background-color: #3b82f6;
  }
  100% {
    background-color: transparent;
  }
}
